header {
  background-color: red;
  width: 100%;
  height: 250px;
}

#header-img{
  background-color: grey;
  width: 20%;
  height: 150px;
  margin: auto;
}


#navbar{
  width: 100%;
  height: 70px;
  background-color: black;
}

.container {
  background-color: lightblue;
  width: 100%;
  height: 100vh;
}

.carousel {
  background-color: blue;
  width: 80%;
  height: 40%;
  margin: auto;
}

#galery {
  background-color: yellow;
  width: 80%;
  height: 40%;
  margin: auto;
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-index{
  background-color: green;
  width: 16em;
  height: 12em;
}

footer {
  background-color: peru;
  width: 100%;
  height: 70px;
}



/*===================================================================================================
=====================================================================================================
================================== TABLETTE ============================================
=========================================================================================
=============================================================================================*/

@media screen {

}
